/*.profile-pic{*/
/*            width: 200px;*/
/*            height: 200px;*/
/*            border-radius: 50%;*/

/*            }*/
/*.small-profile-pic{*/
/*            width: 100px;*/
/*            height: 100px;*/
/*            border-radius: 50%;*/

/*            }*/

/*.cover-pic{*/
/*    width: 220px;*/
/*    height: 300px;*/
/*}*/

/*.posts-content{*/
/*    margin-top:20px;*/
/*}*/
/*.ui-w-40 {*/
/*    width: 40px !important;*/
/*    height: auto;*/
/*}*/
/*.default-style .ui-bordered {*/
/*    border: 1px solid rgba(24,28,33,0.06);*/
/*}*/
/*.ui-bg-cover {*/
/*    background-color: transparent;*/
/*    background-position: center center;*/
/*    background-size: cover;*/
/*}*/
/*.ui-rect {*/
/*    padding-top: 50% !important;*/
/*}*/
/*.ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {*/
/*    position: relative !important;*/
/*    display: block !important;*/
/*    padding-top: 100% !important;*/
/*    width: 100% !important;*/
/*}*/
/*.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {*/
/*    -ms-flex-negative: 1;*/
/*    flex-shrink: 1;*/
/*}*/
/*.bg-dark {*/
/*    background-color: rgba(24,28,33,0.9) !important;*/
/*}*/
/*.card-footer, .card hr {*/
/*    border-color: rgba(24,28,33,0.06);*/
/*}*/
/*.ui-rect-content {*/
/*    position: absolute !important;*/
/*    top: 0 !important;*/
/*    right: 0 !important;*/
/*    bottom: 0 !important;*/
/*    left: 0 !important;*/
/*}*/
/*.default-style .ui-bordered {*/
/*    border: 1px solid rgba(24,28,33,0.06);*/
/*}*/

/*.center {*/
/*    margin: 0 auto;*/
/*    display: block;*/
/*}*/
.nav_active {
    font-weight: bold;
    color: #835546 !important;
}

.hover {
    font-weight: bold;
    color: #888180;
    font-size: 1rem;
}

.hover:hover {
    font-weight: bold;
    color: #844e3c !important;
    font-size: 1rem;
}

img {
    width: 100%;
}

.cover_pic {
    width: 250px;
    /* height: 319px; */
}

.detail_cover_pic {
    width: 400px;
    /* height: 319px; */
}

.active_pagination {
    background: #eadec3;
    color: #835546;
}

.active_pagination:hover {
    background: #835546;
    color: white;
}

.pagination_link {
    color: #835546;
}

.pagination_link:hover {
    background: #f2f0ec;
    color: #835546;
}

.book_title_link {
    text-decoration: none;
    color: #835546;
}

.book_title_link:hover {
    text-decoration: underline;
    color: #835546;
}

.btn_search {
    background-color: #835545 !important;
    font-weight: bold;
    color: white;
    border: 1px solid #835546;
}

.btn_search:hover {
    background-color: #ffffff !important;
    color: #835546;
    border: 1px solid #835546;
}

/* ==================== */
.review_user_pic {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

.review_user_pic>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}


/* ================== */

.posts-content {
    margin-top: 20px;
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.default-style .ui-bordered {
    border: 1px solid rgba(24, 28, 33, 0.06);
}

.ui-bg-cover {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}

.ui-rect {
    padding-top: 50% !important;
}

.ui-rect,
.ui-rect-30,
.ui-rect-60,
.ui-rect-67,
.ui-rect-75 {
    position: relative !important;
    display: block !important;
    padding-top: 100% !important;
    width: 100% !important;
}

.d-flex,
.d-inline-flex,
.media,
.media>:not(.media-body),
.jumbotron,
.card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.bg-dark {
    background-color: rgba(24, 28, 33, 0.9) !important;
}

.card-footer,
.card hr {
    border-color: rgba(24, 28, 33, 0.06);
}

.ui-rect-content {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.default-style .ui-bordered {
    border: 1px solid rgba(24, 28, 33, 0.06);
}

.media .user_image {
    width: 40px;
    height: 40px;
}

.user_image {
    border-radius: 50%;
    overflow: hidden;
}

.user_image>img {
    width: 100%;
}